<div class="container">
  <p>
    <mat-toolbar color="secondary">
      <span>Workouts</span>
    </mat-toolbar>
  </p>

  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center"class="card-deck-container" fxLayoutGap="28px">
    <!-- <div class="col-xl-3 col-md-1 mb-4"> -->
    <mat-card appMaterialElevation fxFlex *ngFor="let workout of workouts" (click)="navigate()" class="example-card" fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" >
        <mat-card-header>
          <mat-card-title>{{workout.title}}</mat-card-title>
        </mat-card-header>
        <mat-video [src]="workout.image"></mat-video>
        <!-- <img mat-card-image class="imgs" [src]="workout.image" alt="Photo of {{workout.title}}"> -->
        <mat-card-content ><p>{{workout.content}}</p></mat-card-content>
        <a mat-raised-button target="_blank" href="https://darebee.com/">More</a>
      </mat-card>
  </div>

</div>
